<p>
    <mat-form-field appearance="fill">
        <mat-label>Team A</mat-label>
        <mat-select name="teamaid" [(ngModel)]="match.teamaid" >
            <mat-option *ngFor="let team of teams" [value]="team.id" >
                {{ team.teamName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
        <mat-label>Team B</mat-label>
        <mat-select name="teambid" [(ngModel)]="match.teambid">
            <mat-option *ngFor="let team of teams" [value]="team.id">
                {{ team.teamName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Match Score</mat-label>
      <input matInput placeholder="Placeholder" name="score" [(ngModel)]="match.score" >        
    </mat-form-field>
  </p>
<p>
    <button mat-raised-button color="primary" (click)=createMatch()>Create new Match</button>
</p>
    
