<div class="page-container">
  <header>
    <mat-toolbar>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="app-title">DBS Rugby Management</span>
    </mat-toolbar>
  </header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #sidenav
        autoFocus="false"
        mode="over"
        [(opened)]="isMenuOpen"
        class="sidenav"
        (click)="onSidenavClick()"
      >
      <a mat-button routerLink="/">Users</a>
      <a mat-button routerLink="/users/create">Create User</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
