<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="matchTableDataSource">
      <ng-container matColumnDef="teamaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Team A </th>
        <td mat-cell *matCellDef="let row "> {{ row.teamaid }} </td>
      </ng-container>
      <ng-container matColumnDef="teambid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team B </th>
        <td mat-cell *matCellDef="let row"> {{ row.teambid }} </td>
      </ng-container>            
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->
<div>
  <button mat-raised-button color="primary" [routerLink]="['../create']">Create Team</button>
</div>
  
